{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
			<img src="{{ .Params.icon }}" id="icon" width=300 height=300>
            {{ partial "page-heading.html" . }}
            <div class="markdown">
                {{ partial "content" . }}
			</div>
			
			<div id="badges">
			<a href="{{ .Params.applink }}"><img src="/laden-im-appstore.svg" id="download-button"></a>
			</div>
			<div id="screenshots">
				<h1>Screenshots:</h1>
				{{ range .Params.screenshots }}
				<img src="{{ . }}" class="screenshot">
				{{ end }}
			</div>
			<div id="contact">
					Bei Fragen und/oder Anregungen kontaktieren Sie mich bitte unter der E&#x2011;Mail Adresse <a href="mailto:{{ .Params.class }}@manuel-reinhardt.de" id="mail">{{ .Params.class }}@manuel&#x2011;reinhardt.de</a>.
				</div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
